/* BACKGROUNDS & LOCALES */
body#city_street_bridge5 #content[locale="nightcity"], body#city_street_bridge6 #content[locale="nightcity"], body#city_street_bridge7 #content[locale="nightcity"] {
    background: url('https://corru.observer/img/local/city/citybank.gif'), url('https://corru.observer/img/local/orbit/stars.gif'), var(--dark-color);
    background-position: bottom;
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;    
}
#citywater {
    position: absolute;
    top: calc(0.25 * var(--gridTileSize) * var(--stage-height));
    left: calc(0.5 * var(--gridTileSize) * var(--stage-width));
    width: calc(var(--gridTileSize) * var(--stage-height) * 1.5);
    height: calc(var(--gridTileSize) * var(--stage-height) * 1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    --baseTransform: translate(-50%, -37.5%) translateZ(-10px) rotate(90deg);
    transform: var(--baseTransform);
    transform-origin: center;
}
#citywater.still {
    background: url('https://corru.observer/img/textures/spotgradienttiny.gif'), url('https://genseot.github.io/mods/theirstreets/img/chromecstill.gif');
    background-size: 100% 100%, 400px;
    animation: unset;
}

body#city_street_bridge1 #content[locale="interiorcity"], body#city_street_city1 #content[locale="interiorcity"], body#city_street_city2 #content[locale="interiorcity"], body#city_street_city3 #content[locale="interiorcity"], body#city_street_city4 #content[locale="interiorcity"], body#city_street_city5 #content[locale="interiorcity"] {
    background: url('https://genseot.github.io/mods/theirstreets/img/cityinterior.gif'), var(--bright-color);
    backgrund-position: bottom;
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
}
body#city_street_city6 #content[locale="waterfrontcity"] {
    background: url('https://genseot.github.io/mods/theirstreets/img/citywaterfront.gif'), var(--bright-color);
    background-position: bottom;
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
}



/* PROPS & TILES */
.road .prop.car.downwards {
    animation-delay: 2.5s;
    --baseTransform: rotateX(-90deg) rotateY(270deg);
}
#content[locale="city"] #realgrid .gridpiece.prop #bush, #content[locale="interiorcity"] #realgrid .gridpiece.prop #bush {
    height: calc(var(--gridTileSize) * 5);
    width: calc(var(--gridTileSize) * 0.75);
}
#content[locale="city"] #realgrid .gridpiece.prop.grass, #content[locale="interiorcity"] #realgrid .gridpiece.prop.grass {
    background: url(https://genseot.github.io/mods/theirstreets/img/grass.gif);
}
#content[locale="city"] #realgrid .gridpiece #crosswalk, #content[locale="interiorcity"] #realgrid .gridpiece #crosswalk {
    background: url(https://genseot.github.io/mods/theirstreets/img/crosswalk.gif);
}
#content[locale="city"] #realgrid .gridpiece #crosswalkrotated, #content[locale="interiorcity"] #realgrid .gridpiece #crosswalkrotated {
    background: url(https://genseot.github.io/mods/theirstreets/img/crosswalk.gif);
    --baseTransform: rotateX(90deg);
}
