/* BACKGROUNDS & LOCALES */
body#city_street_bridge5 #content[locale="nightcity"], 
body#city_street_bridge6 #content[locale="nightcity"], 
body#city_street_bridge7 #content[locale="nightcity"] {
    background: url('https://corru.observer/img/local/city/citybank.gif'), url('https://corru.observer/img/local/orbit/stars.gif'), var(--dark-color);
    background-position: bottom;
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;    
}
#citywater.bridge {
    position: absolute; display: flex; justify-content: center; align-items: center;
    top: calc(0.7 * var(--gridTileSize) * var(--stage-height)); left: calc(0.5 * var(--gridTileSize) * var(--stage-width));
    width: calc(var(--gridTileSize) * var(--stage-width) * 1.35); height: calc(var(--gridTileSize) * var(--stage-height) * 1.5);
    --baseTransform: translate(-50%, -37.5%) translateZ(-10px) rotate(90deg); transform: var(--baseTransform); transform-origin: center;
}
#citywater.waterfront {
    position: absolute; display: flex; justify-content: center; align-items: center;
    top: calc(0.25 * var(--gridTileSize) * var(--stage-height)); left: calc(0.4 * var(--gridTileSize) * var(--stage-width));
    width: calc(var(--gridTileSize) * var(--stage-width) * 1.2); height: calc(var(--gridTileSize) * var(--stage-height) * 1.3);
    --baseTransform: translate(-50%, -37.5%) translateZ(-10px) rotate(90deg); transform: var(--baseTransform); transform-origin: center;
}
#citywater.still {
    background: url('https://corru.observer/img/textures/spotgradienttiny.gif'), url('https://genseot.github.io/mods/theirstreets/img/chromecstill.gif');
    background-size: 100% 100%, 400px;
    animation: unset;
}

body#city_street_bridge1 #content[locale="interiorcity"], 
body#city_street_city1 #content[locale="interiorcity"], 
body#city_street_city2 #content[locale="interiorcity"], 
body#city_street_city3 #content[locale="interiorcity"], 
body#city_street_city4 #content[locale="interiorcity"], 
body#city_street_city5 #content[locale="interiorcity"] {
    background: url('https://genseot.github.io/mods/theirstreets/img/cityinterior.gif'), var(--bright-color);
    backgrund-position: bottom;
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
}
body#city_street_city6 #content[locale="waterfrontcity"] {
    background: url('https://genseot.github.io/mods/theirstreets/img/citywaterfront.gif'), var(--bright-color);
    background-position: bottom;
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
}



/* PROPS */
.road .prop.car.downwards {
    animation-delay: 2.5s;
    --baseTransform: rotateX(-90deg) rotateY(270deg);
}

.storefront1.building {
    transform: rotateZ(270deg) rotateX(-90deg) translateX( calc(var(--gridTileSize) * -0.5) ) translateY(calc(var(--gridTileSize) * 0.5) );
    width: 800%; height: 800%;
    transform-origin: bottom; bottom: 0;
}
.storefront1.building > figure::after {
    background-image: url(https://genseot.github.io/mods/theirstreets/img/storefront1.gif); transform: translateY(0);
}
.storefront1.building > figure::before {
    content: unset; display: none;
}


.storefront2.building {
    transform: rotateZ(90deg) rotateX(-90deg) translateX( calc(var(--gridTileSize) * -0.5) ) translateY(calc(var(--gridTileSize) * 0.5) );
    width: 800%; height: 800%;
    transform-origin: bottom; bottom: 0;
}
.storefront2.building > figure::after {
    background-image: url(https://genseot.github.io/mods/theirstreets/img/storefront2.gif); transform: translateY(0);
}
.storefront2.building > figure::before {
    content: unset; display: none;
}


.storefront3.building {
    transform: rotateZ(270deg) rotateX(-90deg) translateX( calc(var(--gridTileSize) * -0.5) ) translateY(calc(var(--gridTileSize) * 0.5) );
    width: 800%; height: 800%;
    transform-origin: bottom; bottom: 0;
}
.storefront3.building > figure::after {
    background-image: url(https://genseot.github.io/mods/theirstreets/img/storefront3.gif); transform: translateY(0);
}
.storefront3.building > figure::before {
    content: unset; display: none;
}


.storefront4.building {
    transform: rotateZ(90deg) rotateX(-90deg) translateX( calc(var(--gridTileSize) * -0.5) ) translateY(calc(var(--gridTileSize) * 0.5) );
    width: 800%; height: 800%;
    transform-origin: bottom; bottom: 0;
}
.storefront4.building > figure::after {
    background-image: url(https://genseot.github.io/mods/theirstreets/img/storefront4.gif); transform: translateY(0);
}
.storefront4.building > figure::before {
    content: unset; display: none;
}



/* OTHER */
.gordonhidden {
    opacity: 0;
}
