/* BACKGROUNDS & LOCALE STUFF */
body#city_street_bridge5 #content[locale="nightcity"], body#city_street_bridge6 #content[locale="nightcity"], body#city_street_bridge7 #content[locale="nightcity"] {
    background: url('https://corru.observer/img/local/city/citybank.gif'), url('https://corru.observer/img/local/orbit/stars.gif'), var(--dark-color);
    background-position: bottom;
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;    
}
#citywater {
    position: absolute;
    top: calc(0.25 * var(--gridTileSize) * var(--stage-height));
    left: calc(0.5 * var(--gridTileSize) * var(--stage-width));
    width: calc(var(--gridTileSize) * var(--stage-height) * 1.5);
    height: calc(var(--gridTileSize) * var(--stage-height) * 1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    --baseTransform: translate(-50%, -36%) translateZ(-10px) rotate(90deg);
    transform: var(--baseTransform);
    transform-origin: center;
}
#citywater.still {
    background: url('https://corru.observer/img/textures/spotgradienttiny.gif'), url('https://genseot.github.io/mods/theirstreets/img/chromecmicrostill.png');
    background-size: 100% 100%, 400px;
    animation: unset;
}



/* TILES */
#crosswalk {

}



/* INTERACTIBLE PROPS */ 
.bench {

}



/* PROPS */
#fountain {

}
#bush { 

}
#tree {

}
