p {font-style:italic;}

b {-webkit-text-stroke: 0.5px #ffffff;}
rose {color:#ff60bc; -webkit-text-stroke: 0.5px #ff60bc; font-style:normal;}
heart {color:#fc9cff; -webkit-text-stroke: 0.5px #fc9cff; font-style:normal;}
crystal {color:#ff42ff; -webkit-text-stroke: 0.5px #ff42ff; font-style:normal;}
gale {color:#538aa1; -webkit-text-stroke: 0.5px #538aa1; font-style:normal;}
flame {color:#ff8027; -webkit-text-stroke: 0.5px #ff8027; font-style:normal;}
scar {color:#b44dfb; -webkit-text-stroke: 0.5px #b44dfb; font-style:normal;}
star {color:#a2a2ff; -webkit-text-stroke: 0.5px #a2a2ff; font-style:normal;}
candle {color:#ffdc02; -webkit-text-stroke: 0.5px #ffdc02; font-style:normal;}
threshold {color:#ffffff; -webkit-text-stroke: 0.5px #ffffff; font-style:normal;}
mirror {color:#b2b2b2; -webkit-text-stroke: 0.5px #b2b2b2; font-style:normal;}